

#schedule th {
	
	background-color: #ffd7ba;
	font-family: Cambria;
	padding-top: 24px;
	padding-bottom: 24px;
	width:1%;
	}
#schedule td {
	font-family: Cambria;
	}


#schedule th, #schedule td {
	border: 3px solid orange;
	text-align: center;
	
	}
