

#schedule th {
	
	background-color: #ffd7ba;
	font-family: Times New Roman;
	padding-top: 24px;
	padding-bottom: 24px;
	width:100%;
	}
#schedule td {
	font-family: Cambria;
	}


#schedule th, #schedule td {
	border: 5px solid black;
	text-align: center;
	
	}
