

table th {
	
	background-color: #ffd7ba;
	font-family: Cambria;
	padding-top: 24px;
	padding-bottom: 24px;
	width:1%;
	}
table td {
	font-family: Cambria;
	}


table, th, td {
	border: 3px solid white;
	text-align: center;
	
	}
